*{
    margin: 0;
    padding: 3px;
}
body{
    background-color: ivory;
    font-size: 15px;
    margin-right: 680px;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    right: 5px;
    padding: 40px 40px;
    padding-left: 750px;
    font-size: 0%;
}
button{
    font-size: 30px;
    color: black;
}
li{
    padding-right: 20px;
}
.links{
    text-decoration: none;
    cursor: pointer;
}
#name{
    color: red;
    font-size:20px;
    padding-right: 120px;
}
#pic{
    height:300px;
    width: 200px;
    border-radius:50%;
    
}
#text{
    color:red;
    font-size:40px;
}
#p{
    font-size:15px;
    width:1000px;
}
.SKILLS{
    width: 200px;
    height: 200px;
    background: rgb(149, 147, 147);
}

progress[value]{
    height: 60px;
    width: 600px;
}
#sk1{
    transform: translate(80px);
    font-size: 300%;
}

#work{
    color: blueviolet;
}

#para{
    size: 100%;
}

#np1{
    color: blueviolet;
    width: 100%;
}
#hi{
    text-align: center;
    font-size: 500%;
    color: blue;
}
#WORK{
    background-color: rgb(92, 86, 116);
    width: 1100px;
    padding-left: 380px;
    font-size: 200%;
    color: brown;
}
#work{
    transform: translate(-100px);
    color: brown;
}
#para{
    transform: translate(-100px);
    color: rgb(177, 24, 108);
}
#np{
    transform: translate(100px);
    color: brown;
}
#np1{
    transform: translate(-130px);
    color: brown;
}

#SKILLS{
    background-color: mediumpurple;
    width: 1100px;
    padding-left: 380px;
}
#hr{
    height: 200%;
    width: 200%;
}

#t{
    transform: translate(40px);
}
#np{
    height: 500px;
    width: 500px;
}

#u{
    height: 100px;
    width: 100px;
}

#n{
    font-size: 40px;
}

#i{
    transform: translate(900px,-700px);
}
#u{
    transform: translate(80px);
}
#c{
    width: 180%;
}
#sk{
    font-size: 500%;
}
#x{
    height: 100px;
    width: 100px;
}
